/* less color variables */
@brand-color:     #ffe566;
@subject1-color:  #ff6767;
@subject2-color:  #00cabe;
@subject3-color:  #B073ff;
@subject4-color:  #2ee340;

/* global styles */
a { 
  cursor: pointer; 
  color: black !important;
}

.app-container {
  position: relative;
  min-height: 650px;
} 

* {
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: .03em;
}

*:focus {
  outline: none;
}

.rainbow {
  width: 150px;
  height: 2px;
  background: rgb(115,255,129); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(115,255,129,1) 0%, rgba(115,255,248,1) 17%, rgba(176,115,255,1) 47%, rgba(255,115,115,1) 72%, rgba(255,182,115,1) 95%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(115,255,129,1) 0%,rgba(115,255,248,1) 17%,rgba(176,115,255,1) 47%,rgba(255,115,115,1) 72%,rgba(255,182,115,1) 95%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(115,255,129,1) 0%,rgba(115,255,248,1) 17%,rgba(176,115,255,1) 47%,rgba(255,115,115,1) 72%,rgba(255,182,115,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73ff81', endColorstr='#ffb673',GradientType=1 ); /* IE6-9 */
  border-radius: 40px;
}

/* navbar */
.vertical-nav {
  min-width: 10rem;
  width: 10rem;
  height: 100vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  position:absolute;
  z-index:1;
}

/* search bar */
.wrapper {
  display: flex;
}

.search {
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.no-outline:focus {
  outline: none;
}

/* profile */
@media (max-width: 1500px) {
  html {
    .element{
      position:absolute;
      top: 0; bottom: 430px; left: 280px; right: 0;
      margin: auto;
      height: 20px; /* requires explicit height */
    }
  }
}

/* register */
.yellow-button, #yellowButton {
  background-color: @brand-color !important;
  border: none;
  padding: 8px 25px;
  border-radius: 25px;
  border: 3px solid @brand-color;
}
.wide-yellow-button {
  background-color: @brand-color !important;
  border: none;
  padding: 8px 40px;
  border-radius: 25px;
  border: 3px solid @brand-color;
}
.wide-yellow-button:disabled {
  background-color: rgb(170, 170, 170) !important;
  border:none;
}
.yellow-border-button, #yellowBorderButton {
  border: 3px solid @brand-color;
  border-radius: 25px;
  padding: 8px 25px;
  box-sizing: border-box;
}